{:server   {:port 3001
            :join? true}
 :database {:dbtype   "postgres"
            :dbname   "ccsdemo"
            :user     "postgres"
            :password ""
            :host     "10.112.208.3"}}
