{:server   {:port 3001
            :join? true}
 :database {:dbtype   "postgres"
            :dbname   "ccsdemo"
            :host     "cloud sql"
            :port     5432
            :user     "user"
            :password "pass"}}
