@use "pico" with(
  $semantic-root-element: "#root",
  $enable-semantic-container: true
);

th {
  text-transform: capitalize;
}

tr.clickable:hover td {
  cursor: pointer;
  background-color: #79c0ff !important;
}

th.sortable:hover {
  cursor: pointer;
  user-select: none;
  background-color: #79c0ff;
}

a.unset {
  all: unset !important;
}

a.unset:hover {
  cursor: pointer !important;
}
